 {{#if landlord}}
 
        <!-- Nav Bar -->
        <div class="navbar">
        <h2 id="logo">CurRent</h2>
        <!-- default route when clicking logo logged in as landlord -->
        <a href="/landlord/properties">
            <div class="item">
            <img
                id="travis"
                src="https://dwglogo.com/wp-content/uploads/2017/12/1200px-travis_ci_vector_logo.png"
                alt="templogo"
            />
            <div id="profile">Landlord: {Name}</div>
            </div>
        </a>
        <!-- properties -->
        <a href="/landlord/properties">
            <div class="item">
            <div class="fa fa-home"></div>
            <div class="label">Properties</div>
            </div>
        </a>
        <!-- tenants -->
        <a href="/landlord/tenants">
            <div class="item">
            <div class="fa fa-users"></div>
            <div class="label">Tenants</div>
            </div>
        </a>
        <!-- maintenance -->
        <a href="/landlord/maintenance">
            <div class="item">
            <div class="fa fa-wrench"></div>
            <div class="label">Maintenance</div>
            </div>
        </a>
        <!-- invoices -->
        <a href="/landlord/invoices">
            <div class="item">
            <div class="fa"><i class="fas fa-file-invoice-dollar"></i></div>
            <div class="label">Invoices</div>
            </div>
        </a>
        <!-- contracts -->
        <a href="/landlord/contracts">
            <div class="item">
            <div class="fa fa-file"></div>
            <div class="label">Contracts</div>
            </div>
        </a>
        <!-- signout -->
        <a href="/logout">
            <div class="item">
            <div class="fa fa-sign-out-alt"></div>
            <div class="label">Logout</div>
            </div>
        </a>
        </div>
        <!-- end nav bar -->

    {{else}}
    {{!-- add the tenant nav bar here --}}

{{/if}} 