{{!-- navigation bar from partiels --}}
{{> landlord-navbar}}

<!-- main content -->
<div class="right-side">
    <div class="jumbotron">
        <h1 class="display-3">Maintenance</h1>
        <hr class="my-2" />
    </div>

    <div class="content">

        <!-- start cards -->
        <div class="row">
            <!-- Request History -->
            <h5>Active Requests</h5>
            <hr class="my-2" />
            <!-- Maintenance Request cards -->
            <div class="col s12 m3">
                {{#each maintRequests}}
                <div class="card">
                    <div class="card-image">
                        <img src="../images/wrench-icon.png" alt="wrench icon">
                    </div>
                    <div class="card-content maint-req-details">
                        <p>View Request Information</p>
                    </div>
                    <div class="card-action">
                        <button href="#maint-req-details-modal" class="btn waves-effect waves-light ocean-blue modal-trigger">Details</button>
                        <button id="resolvedBtn" data-maint-id="{{this.id}}" class="btn waves-effect waves-light ocean-blue">Resolved</button>
                    </div>
                </div>
                <!-- Maintenance Request Details Modal -->
                {{!-
                <!-- Maintenance Request Details Modal --> --}}
                <div id="maint-req-details-modal" class="modal center-align">
                    <div class="modal-content">
                        <div class="fa fa-wrench"></div>
                        <h5>Request Information</h5>
                        <div class="row">
                            <div class="col s4 push-s4">
                                <h5 class="req-status">Status</h5>
                                {{!--
                                <!-- add maintenance request return object here --> --}}
                                <div>{{this.status}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 push-s4">
                                <h5 class="req-type">Category</h5>
                                {{!--
                                <!-- add maintenance request return object here --> --}}
                                <div>{{this.reqType}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 push-s4">
                                <h5 class="req-description">Description</h5>
                                {{!--
                                <!-- add maintenance request return object here --> --}}
                                <div>{{this.description}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close btn waves-effect waves-light ocean-blue">Done</a>
                    </div>
                </div>
                {{/each}}
            </div>
            <!-- end property card -->
        </div>
        <!-- end row 4 -->
    </div>
</div>
<!-- end main content -->