{{!-- Get navbar from partials --}}
{{> navbar}}

<!-- main content -->
<div class="content">
    <div class="jumbotron">
        <h1 class="display-3">My Properties</h1>
        <p class="lead">Add Property</p>
        <hr class="my-2" />
    </div>

    <!-- start cards -->
    <div class="row">
        <!-- property cards -->
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    {{!-- image of property here --}}
                    <img src="https://cdn.vox-cdn.com/thumbor/SZI_0MOdoxBwcfYVftHcCdLJ2fc=/0x0:1600x1066/1820x1213/filters:focal(642x458:898x714):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/60283807/Perry1.0.jpg" />
                    {{!-- property address from object here --}}
                    <span class="card-title">100 Peachtree Drive</span>
                </div>
                <div class="card-content property-details">
                    <p>Property details here.</p>
                    {{!-- loop through properties object and display info here --}}
                    {{#each properties}}
                    {{/each}}
                </div>
                <div class="card-action"><button class="btn">Details</button></div>
            </div>
        </div>
        <!-- end property card -->
    </div>
</div>