{{!-- navigation bar from partiels --}}
<!-- Nav Bar -->
    <div class="navbar">
      <h2 id="logo">CurRent</h2>
      <!-- default route when clicking logo logged in as tenant -->
      <a href="/tenant/maintenance">
        <div class="item">
          <img
            id="travis"
            src="https://dwglogo.com/wp-content/uploads/2017/12/1200px-travis_ci_vector_logo.png"
            alt="templogo"
          />
          <div id="profile">Tenant: {Name}</div>
        </div>
      </a>
      <!-- maintenance -->
      <a href="/tenant/maintenance">
        <div class="item">
          <div class="fa fa-wrench"></div>
          <div class="label">Maintenance</div>
        </div>
      </a>
      <!-- pay rent -->
      <a href="/tenant/payment">
        <div class="item">
          <div class="fa"><i class="fas fa-money-bill"></i></div>
          <div class="label">Pay Rent</div>
        </div>
      </a>
      <!-- contracts -->
      {{!-- <a href="/tenant/contracts">
        <div class="item">
          <div class="fa fa-file"></div>
          <div class="label">Lease Docs</div>
        </div>
      </a> --}}
      <!-- signout -->
      <a href="/logout">
        <div class="item">
          <div class="fa fa-sign-out-alt"></div>
          <div class="label">Logout</div>
        </div>
      </a>
    </div>
    <!-- end nav bar -->

{{!-<!-- main content --> --}}
<div class="right-side">
    <div class="jumbotron">
        <h1 class="display-3">Submit Maintenance Request</h1>
        <hr class="my-2" />
    </div>

    <div class="content">
        {{!--<!-- form for maint request --> --}}
        <div class="row">
            {{!--<!-- Name and Image URL or upload --> --}}
            <div class="input-field col m4">
                <input placeholder="First and Last Name" id="name" type="text" class="validate" />
                <label for="name">Name</label>
            </div>
            {{!--<!-- grab adddress value here --> --}}
            <div class="input-field col m4">
                <input placeholder="Property Address" id="address" type="text" class="validate" />
                <label for="image">Address</label>
            </div>

            <div class="input-field col m4">
                {{!--<!-- grab category value here --> --}}
                <select id="requestType">
                    <option value="" disabled selected>Category</option>
                    <option value="1">Appliances</option>
                    <option value="2">Electrical</option>
                    <option value="3">Exterior</option>
                    <option value="4">HVAC</option>
                    <option value="5">Plumbing</option>
                    <option value="6">Ohter</option>
                </select>
                <label>Request Type</label>
            </div>
        </div>
        <div class="row">
            <form class="col m12">
                <div class="row">
                    <div class="input-field col m12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Description</label>
                    </div>
                </div>
            </form>
        </div>
        {{!--<!-- end description --> --}}
        <div class="row">
            <button id="submitBtn" class="btn waves-effect waves-light ocean-blue" type="submit" name="action">
                Submit <i class="material-icons right">send</i>
            </button>
        </div>
        {{!--<!-- end row 3 form --> --}}

        {{!--<!-- start cards --> --}}
        <div class="row">
            {{!--<!-- Request History --> --}}
            <h5>Request History</h5>
            <hr class="my-2" />


            {{!--<!-- Mainteance Request cards --> --}}
            {{#each maintRequest}}
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="../images/wrench-icon.png" alt="wrench icon">
                    </div>
                    <div class="card-content maint-req-details">
                        <p>View Request Information</p>
                    </div>
                    <div class="card-action">
                        <button href="#maint-req-details-modal" class="btn waves-effect waves-light ocean-blue modal-trigger">Details</button>
                    </div>
                </div>
            </div>
            {{/each}}
            {{!--<!-- end maintenance request card --> --}}
        </div>
        {{!--<!-- end row 4 --> --}}
    </div>
</div>
{{!-<!-- end main content --> --}}


{{!-<!-- Maintenance Request Details Modal --> --}}
<div id="maint-req-details-modal" class="modal center-align">
    <div class="modal-content">
        <div class="fa fa-wrench"></div>
        <h5>Request Information</h5>
        <div class="row">
            <div class="col s4 push-s4">
                <h5 class="req-status">Status</h5>
                {{!--<!-- add maintenance request return object here --> --}}
                <div>{{this.status}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col s4 push-s4">
                <h5 class="req-type">Category</h5>
                {{!--<!-- add maintenance request return object here --> --}}
                <div>{{this.reqType}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col s4 push-s4">
                <h5 class="req-description">Description</h5>
                {{!--<!-- add maintenance request return object here --> --}}
                <div>{{this.description}}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect waves-light ocean-blue">Done</a>
    </div>
</div>