/* Main Rules */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('/images/waves3.jpg');
  background-size: cover;
  opacity: .7;
}

main {
  flex: 1 0 auto;
}

/* Colors */
.ocean-blue {
  background-color: #3C91E6;
}

/* Navigation */
nav > * {
  margin: 0 15px;
}

nav img {
  margin-top: 1vh;
  width: 10vh;
  height: 10vh;
}

.nav-wrapper li > a:hover {
  color: #A2D729;
}

/* Modal */
.modal {
  opacity: .4;
  width: 55vw;
}

/* Section */
section {
  height: 80vh;
  margin-top: 50px;
}

.headline {
  margin-top: auto;
  color: #342e37;
}